*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* NAV BAR */

nav {
    display: flex;
    height: 125px;
}
.logo img {
    width: 55px;
    padding: 12px 60px 10px 30px ;
    
}
.nav_top {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 500;
    
}
.nav_top_one ul {
    display: flex;
    font-weight: 540;
   
}
.nav_top_one ul li {
    margin: 30px 20px 10px 20px;
}
.nav_top_two ul li {
   
    margin: 30px 20px 10px 20px;
}
.nav_top_two ul {
    display: flex;
    font-weight: 540;
}
.nav_top_one {
    padding-right: 350px;
}
.nav_top_two {
    padding-right: 20px;
}
.search img{
    margin: 30px 20px 10px 20px;
    width: 15px;
    padding-right: 2px;
}
.contact img{
    margin: 30px 20px 10px 20px;
    width: 15px;
}

.image_one{
    width: 100%;
    height: auto;   
}
.image_one img{
    width: 100%;
    height: 500px;
}


.h1_picks{   
    text-align: center;
    padding-top: 50px; 
}
.picks{
    margin-top: 100px;
}
.picks_menu{
    display: flex;
    width: 35%;
    margin: auto;
    justify-content: space-between;
    padding-top: 30px;
}



.image-gallery {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin: 20px;
}

.left-image {
    flex: 1;
    width: 50%;
    background-color: #eceff7 ;
    border-radius: 10px;
}

.left-image .image-item {
    position: relative;
    margin-bottom: 20px;
}

.left-image img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.right-images img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

.right-images {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.image-item {
    flex-basis: calc(50% - 10px); 
    position: relative;
    background-color: #eceff7 ;
    border-radius: 10px;
  
}

.image-caption {
    position: absolute;
    bottom: 10px; 
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center; 
    color: black; 
   
}



footer {
    margin-top: 40px;
    border-top: 1px solid rgb(207, 207, 207);
    background-color: white;
}

.footer-header {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid rgb(207, 207, 207);

}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgb(207, 207, 207); 
}

.footer-section {
    flex: 1; 
    border-top: 1px solid rgb(207, 207, 207); 
    position: relative;
    border-right: 1px solid rgb(207, 207, 207);
    padding: 10px;
}

.footer-section h3{
    padding-top: 15px;
}

.footer-section p{
    padding-top: 15px;
    font-size: 15px;
}

.footer-section:before {
    position: absolute;
    top: -1px;
    left: 0;
}

.footer-bottom-text{
    text-align: left;
    padding: 30px;
}
.footer-bottom-text p{
    font-size: 12px;
}